<!DOCTYPE html>
<html lang="en">
<head>
    <title>KEA nyheder</title>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/styles.css"
          th:href="@{../css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<p><a href="/" class="btn btn-news">Topsecret news</a></p>
<p><a href="/" class="btn btn-news">Old news</a></p>
</body>
</html>