<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KEA info</title>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/styles.css"
          th:href="@{css/styles.css}"/>

</head>
<div th:replace="fragments/header :: header">...</div>
<body>
<!-- Bemærk: bruger fragment aht genbrug
<nav>
    <div class="container">
        <a href="/" id="logo">KEA</a>
        <a href="/">XXX </a>
        <a href="courses">Kurser</a>
    </div>
</nav> -->
<div class="grid-container">
    <img src="images/studiegruppe5.png" width="600" height="400">
    <img src="images/greenteam.png" width="600" height="400">
    <img src="images/IMG1054.jpg" width="600" height="400">
    <img src="images/gruppebilledeG8.jpg" width="600" height="400">
    <img src="images/pdfgruppen.PNG" width="600" height="400">
    <img src="images/IMG4273.JPG" width="600" height="400">
    <img src="images/disciple.png" width="600" height="400">
    <img src="images/a.jpeg" width="600" height="400">
</div>
</body>
</html>